.primaryBackgroundColor {
  background-color: white
}

.primaryColor {
  color: white
}

.secondaryBackgroundColor {
  background-color: #58a4b0
}

.secondaryColor {
  color: #58a4b0
}

.tertiaryBackgroundColor {
  background-color: #bac1b8
}

.accentColorText {
  color: #d64933
}

.defaultColorText {
  color: initial
}  
  

.bgSecondary {
  background-color: #0c7c59
}


.navigation-item {
  color: white
}